{% extends 'base.html' %}
{% load humanize %}
{% load convert_markdown %}
{% load bulma_tags %}

{% block title %}
Create Post
{% endblock title %}
{% block content %}
<h1 class="title is-2">Create Thread</h1>
<form action="." method="POST">
    {{ tform | bulma }}
    {{ pform | bulma }}
    {% csrf_token %}
    <div class="field">
        <div class="control">
            <div class="buttons">
                <button class="button is-white">Save</button>
            </div>
        </div>
</form>


{% endblock content %}