{% extends 'base.html' %}

{% load convert_markdown %}
{% load user_mention %}
{% load bulma_tags %}



{% block title %}
Preference - {{ tuser.get_username }}
{% endblock title %}



{% block content %}
{% include 'account/islands/user_summary_block.html' %}
<div class="block mt-3" style="border-top: 1px solid rgb(58, 58, 58); 
    border-bottom: 1px solid rgb(58, 58, 58); 
    padding-top: 10px; 
    padding-bottom: 10px;">
    <span>
        <span class="has-text-weight-bold">
            Joined:
        </span>
        {{ tuser.date_joined }}</span>
</div>
<div class="tabs is-centered is-fullwidth">
    <ul>
        <li><a href="{% url 'account:user_detail' tuser.username %}"><span class="icon"><i
                        class="bi bi-person-fill"></i></span><span>Summary</span></a></li>
        <li><a href="{% url 'user_sessions:session_list' %}"><span class="icon"><i
                        class="bi bi-broadcast-pin"></i></span><span>Activity</span></a></li>
        <li><a href="{% url 'forum:existing_uploads' %}"><span class="icon"><i
                        class="bi bi-archive-fill"></i></span><span>Your Uploads</span></a></li>

        {% if tuser == user %}


        <li class="is-active"><a><span class="icon"><i
                        class="bi bi-gear-wide-connected"></i></span><span>Preferences</span></a></li>
        {% endif %}
    </ul>
</div>
<h4 class="title is-4">Username</h4>
<p class="subtitle is-6">
    {{ tuser.get_username }}
</p>
<p>
    People can mention you as <strong>@{{ tuser.get_username }}</strong>
</p>
<br>
<form action="." method="post" enctype="multipart/form-data">

    {% csrf_token %}
    <h4 class="title is-4">General Info</h4>
    <div class="column is-half">
        {{ uform | bulma }}
        {{ pform | bulma }}
    </div>
    <h4 class="title is-4">Profile Picture</h4>
    <figure class="image is-64x64 block">
        <img src="{{ tuser.userprofile.avatar_image }}" alt="User Profile Picture" loading="lazy" class="is-rounded">
    </figure>
    <div class="field" hx-boost="false">
        {{ aform | bulma}}
        <p class="help">If the uploaded image is not shown, make sure to deselect the Use Gravatar</p>
    </div>
    <div class="field">
        <div class="control">
            <button type="submit" class="button is-primary">Save</button>
            {% include 'islands/loader.html' with centered=False %}

        </div>
    </div>
</form>
{% endblock content %}