{% load humanize %}
<div class="box" style="background-color: transparent; border-radius: 0%;">
    {% for category in categories %}
    <div class="media">
        <div class="media-content">
            <h5 class="title is-5">
                <a href="{% url 'forum:threads_by_category' category.slug %}">
                    <span class="tag is-dark" style="background-color: {{category.color}};">
                        {{ category.name }}
                    </span>
                </a>
            </h5>
            {% for thread in category.get_recent_3_threads %}
            <a href="{% url 'forum:thread_detail' thread.id %}">
                {{ thread.title }}
            </a>
            <br>
            {% endfor %}
            {{ category.get_recent_3_threads.count }} Total
        </div>
    </div>
    {% endfor %}