{% load humanize %}
<div class="box mx-6"
    style="background-color: transparent; border-left: 0.5rem rgb(61, 61, 61) solid; border-radius: 0%;">
    <div class="columns is-mutliline">
        <div class="column is-4">
            <h5 class="title is-5">
                Category
            </h5>
        </div>
        <div class="column is-2">
            <h5 class="title is-5">
                Topics
            </h5>
        </div>
        <div class="column">
            <h5 class="title is-5">
                Threads
            </h5>
        </div>
    </div>
    {% for category in categories %}
    <div class="columns is-mutliline">
        <div class="column is-4">
            <h5 class="title is-5">
                {{ category.name }}
            </h5>
            <p class="subtitle is-6">
                {{ category.description }}
            </p>
        </div>
        <div class="column is-1">
            <span class="is-size-7">
                {{ category.get_recent_3_threads.count }}
            </span>
        </div>
        <div class="column">
            <ul>
                {% for thread in category.get_recent_3_threads %}
                <li>
                    <a href="{% url 'forum:thread_detail' thread.id %}">
                        {{ thread.title }}
                    </a>
                    <small>{{ thread.created_at | naturaltime }}</small>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
</div>