{% extends 'base.html' %}
{% load humanize %}
{% load convert_markdown %}


{% block title %}
Create Poll
{% endblock title %}
{% block content %}
<h1 class="title is-2">Create Poll</h1>
<p class="subtitle">First, enter the Question Text. Then, you’ll be able to add choices.</p>
<form action="." method="POST">
    {{ qform }}
    {% csrf_token %}
    <div class="field">
        <div class="control">
            <div class="buttons">
                <button type="submit" class="button is-primary">Save</button>
            </div>
        </div>
    </div>
</form>


{% endblock content %}