{% extends 'base.html' %}
{% load humanize %}
{% load convert_markdown %}
{% load bulma_tags %}

{% block title %}
Create Poll
{% endblock title %}
{% block content %}
{% include 'polls/islands/question_block.html' %}



{% if question.choices %}
<form action="{% url 'polls:poll_vote' question.id %}" method="POST">
    {% csrf_token %}
    <div class="control box">
        {% for choice in question.choices.all %}
        {% if user not in question.voted_by.all %}
        <input type="radio" name="choice" value="{{ choice.id }}">
        {% endif %}
        {{ choice }} {% if user in question.voted_by.all %}<progress
            class="progress is-{% cycle 'primary' 'link' 'success' 'info' 'warning' 'danger' %}"
            value="{{ choice.vote_percentage }}" max="100">{{ choice.vote_percentage }} %</progress>
        {% endif %}
        </label>
        <br>
        {% endfor %}

        <div class="field mt-4">
            <div class="control">
                <button class="button is-info">Vote</button>
            </div>
        </div>
    </div>
    {% endif %}
</form>
{% endblock content %}