{% extends 'base.html' %}
{% load humanize %}

{% block title %}
Notifications
{% endblock title %}


{% block content %}
<h1 class="title">Notifications</h1>
{% for notification in notifications %}
<div class="notification">
    <div class="content">
        <p><strong>{{ notification.sender.username }}</strong> {{ notification.verb }}</p>
        <p class="is-size-7">{{ notification.created_at | naturaltime }}</p>
        <a href="{{ notification.content_object.get_absolute_url }}">View</a>
    </div>
</div>
{% endfor %}
{% endblock content %}