{% extends 'base.html' %}
{% block title %} Home {% endblock title %}

{% block content %}
<div class="content mx-6">
    <a href="{% url 'forum:thread_create' %}" class="button">Create Thread</a>
    <a href="{% url 'polls:poll_create' %}" class="button">Create Poll</a>
</div>
<div class="is-hidden-mobile">
    {% include 'core/islands/frontpage_desktop_partial.html' %}
</div>
<div class="is-hidden-tablet">
    {% include 'core/islands/frontpage_mobile_partial.html' %}
</div>


{% endblock content %}