<div class="buttons" id="like-button-{{ post.id }}">
    <a 
    href="{% url 'forum:like_post' post.id %}" 
    hx-get="{% url 'forum:like_post' post.id %}"
    hx-target="#like-button-{{ post.id }}"
    hx-swap="outerHTML"
    class="button is-ghost">
        <span class="icon">
            
            {% if user in post.likes.all %}
                
            <i class="bi bi-heart-fill"></i>
            {% else %}
            
            <i class="bi bi-heart"></i>
            {% endif %}
                
        </span>
    <span>{{ post.likes.count }} Likes</span>
    </a>
</div>