{% load humanize %}
{% load bulma_tags %}

{% load convert_markdown %}

<form action="{% url 'forum:post_edit' post.id %}" method="POST" hx-post="{% url 'forum:post_edit' post.id %}"
    hx-target="#post-{{ post.id }}" hx-swap="outerHTML">
    {{ form | bulma}}
    {% csrf_token %}
    <div class="field">
        <div class="control">
            <div class="buttons">
                <button type="submit" class="button is-white">Save</button>
                <a hx-get="{% url 'forum:post_block' post.id %}" class="button">Cancel</a>
                {% include 'forum/islands/upload_button.html' %}
            </div>
        </div>
    </div>
</form>