{% load humanize %}
<div class="media">
    <div class="media-left">
        <a href="{% url 'account:user_detail' thread.creator.username %}">
            <figure class="image is-48x48">
                <img src="{{ thread.creator.userprofile.avatar_image }}" alt="User Avatar" class="is-rounded">
            </figure>
        </a>
    </div>
    <div class="media-content">
        <h4 class="title is-4">
            <a href="{% url 'forum:thread_detail' thread.slug %}">
                {{ thread }}
            </a>
        </h4>
        <p class="subtitle is-6">
            <a href="{% url 'account:user_detail' thread.creator.username %}">
                @{{ thread.creator.username }}
            </a>
            <span class="has-text-grey-light">•</span>
            <time datetime="{{ thread.created_at|date:'c' }}">{{ thread.created_at|naturaltime }}</time>
        </p>
    </div>
</div>